.form-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 3%;
  }
  
  .form-box {
    width: calc(33.33% - 20px);
    background-color: #ffff;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    cursor: pointer;
  }
  
  .form-box:hover {
    background-color: #bebebe;
  }
  
  .form-box h3 {
    margin-top: 0;
  }
  
  .form-box p {
    margin-bottom: 0;
  }

  .form-boxes {
    width: calc(33.33% - 20px);
    background-color: #ff7a7a;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
  }