

<div class="form-container">
  <div class="container" style="padding: 2%;">
    <h4 style="text-align: center;">¡Bienvenido Cristopher Bryan Bautista Garcia!</h4>
  </div>
    <div class="form-box" routerLink="/EPPpostes/crear">
      <h3>Equipo de proteccion para postes</h3>
      <p>Descripción del Formulario 1 Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>

    <div class="form-boxes" aria-disabled="true">
      <h3>Equipo de proteccion para torres</h3>
      <p>Descripción del Formulario 2 Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>

    <div class="form-box" routerLink="/Uniformes/crear">
      <h3>Uniformes</h3>
      <p>Descripción del Formulario 3 Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </div>
  