<div class="wrapper">
    <app-siderbar></app-siderbar>
  
    <div id="content">
      <div class="container">
        <h2>Listado de las respuestas del formulario EPP Postes</h2>
      </div>
  
      <div class="container">
        <div class="table-responsive">
          <table class="table table-sm table-bordered">
              <thead>
                  <tr>
                      <th scope="col" class="normal-th">Nombre</th>
                      <th scope="col" class="normal-th">Botas Dialecticas</th>
                      <th scope="col" class="normal-th">Camisas Manga Larga</th>
                      <th scope="col" class="normal-th">Pantalon</th>
                      <th scope="col" class="normal-th">Guantes Carnaza</th>
                      <th scope="col" class="normal-th">Cinturon</th>
                      <th scope="col" class="normal-th">Bandola</th>
                      <th scope="col" class="normal-th">Lentes de Seguridad</th>
                      <th scope="col" class="normal-th">Casco Dielectrico</th>
                      <th scope="col" class="normal-th">Chaleco de Seguridad</th>
                      <th scope="col" class="normal-th">Barbiquejo</th>
                      <th scope="col" class="normal-th">Pulsera Deteccion Voltaje</th>
                      <th scope="col" class="normal-th">Senaletica</th>
                      <th scope="col" class="normal-th">Comentarios</th>
                      <th scope="col" class="normal-th">Fecha Llenado</th>
                      <th scope="col" class="normal-th">Ultima modificacion</th>
                      <th scope="col" class="normal-th">Acciones</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let item of Listaepppostes | paginate: { itemsPerPage: 10, currentPage: 1 }" class="table-active">
                      <td class="normal-th">{{ item.FkUsuario }}</td>
                      <td class="normal-th">{{ item.BotasDialecticas }}</td>
                      <td class="normal-th">{{ item.CamisasMangaLarga }}</td>
                      <td class="normal-th">{{ item.Pantalon }}</td>
                      <td class="normal-th">{{ item.GuantesCarnaza }}</td>
                      <td class="normal-th">{{ item.Cinturon }}</td>
                      <td class="normal-th">{{ item.Bandola }}</td>
                      <td class="normal-th">{{ item.LentesSeguridad }}</td>
                      <td class="normal-th">{{ item.CascoDielectrico }}</td>
                      <td class="normal-th">{{ item.ChalecoSeguridad }}</td>
                      <td class="normal-th">{{ item.Barbiquejo }}</td>
                      <td class="normal-th">{{ item.PulseraDeteccionVoltaje }}</td>
                      <td class="normal-th">{{ item.Senaletica }}</td>
                      <td class="normal-th">{{ item.Comentarios }}</td>
                      <td class="normal-th">{{ item.FechaLlenado | date:'dd/MM/yyyy' }}</td>
                      <td class="normal-th">{{ item.FechaActualizado | date:'dd/MM/yyyy' }}</td>
                      <td class="normal-th">
                          <button class="btn btn-danger btn-sm" (click)="eliminarItem(item.PKEPPPostes)">
                              <i class="bi bi-trash3"></i>
                          </button>
                          <button class="btn btn-warning btn-sm" (click)="verDetalles(item.PKEPPPostes)">
                              <i class="bi bi-eye"></i>
                          </button> 
                      </td>
                  </tr>
              </tbody>
          </table>
        </div>
        <div class="pagination">
          <pagination-controls (pageChange)="2"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
  